{% extends 'base.html' %}

{% block content %}
    <div id="contentDiv">
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            {% if messages %}
                {% for message in messages %}
                    {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                        <div class="alert alert-danger" role="alert">{{ message }}</div>
                    {% elif message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
                        <div class="alert alert-success" role="alert">{{ message }}</div>
                    {% endif %}
                {% endfor %}
            {% endif %}
            <h1 class="page-header">Welcome!</h1>
        </div>
        <div style="position:absolute;left:60%;top:50%;-webkit-transform: translate(-50%, -50%);transform: translate(-50%, -50%);">
            <h2 class="sub-header" style="border:none;">Please select a channel to start chatting.</h2>
        </div>
    </div>
{% endblock %}